/* footer */
p{
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 35px 10px;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid #009688;
   background-color: aqua;
   color: black;
   cursor: pointer;
   font-size: 17px;
   font-family: 'Lobster', cursive;
}
div{
   display: block;
   margin-top: -20px;
   float: right;
   margin-right: 20px;
}