*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none; 
    color: inherit;
}
li{
    list-style: none;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/assign3_background.jpg);
    background-size: cover;
    background-position: cover;
    
}
/* header */
.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
}
#logo a{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 200%;
    margin-left: 50px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    /* width: 0; */
    background: wheat;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5;
}
.navbar ul li:hover::after{
    width: 100%;
}
.headerText1{
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    color: greenyellow;
    font-size: 70px;
}
.headerText2{
    display: inline-block;
    color: greenyellow;
    font-family: 'Permanent Marker', cursive;
}
/* slider */
.slider_wrapper{
    position: relative;
    width: 960px;
    margin: 5% auto;
    height: 300px;
    overflow: hidden;
}
.slides{
    position: absolute;
    left: 0; top: 0;
    transition: left 0.5s ease-out;
}
.slides li:not(:last-child){
    float: left;
    margin-right: 30px;
}
.slides img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}
.controls{
    text-align: center;
    margin-top: -30px;
    cursor: pointer;
}
.controls span{
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
}
.controls span.prev{
    right:calc(100% + 50px);
}
.controls span.next{
    left:calc(100% + 50px);
}

/* Favorite team */
.favText{
    font-family: 'Reggae One', cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

/* footer */
footer{
    /*    clear: both;*/
    position: absolute;
    bottom: 0;
    padding : 5px 0 5px 0;
    background: #009688;
    color: white;
    text-align: center;
    width: 100%
        
}
