a{
    text-decoration: none; 
    color: inherit;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, #9E768F,#9FA4C4);
}
.container{
    /* position: absolute; */
    /* left: 15%; */
    width: 70%;
    
    background-color: whitesmoke;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
}
#logo a{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 200%;
    margin-left: 50px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    /* width: 0; */
    background: wheat;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    margin: 20px 70px 50px 70px;
    /* padding: 20px; */
}
fieldset{
    padding: 40px;
    border-radius: 25px;
    margin-top: -36px;
}
button{
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 35px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: 2px solid red;
    color: red;
}
#button1{
    background-color: red;
    border: 2px solid red;
    color: white;
}
#button2{
    margin-left: -17px;
}
#subText{
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
}
#selectLevel{
    color: black;
}
.btnL{
    margin-left: 80px;
}
.btn{
    margin-left: 50px;
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 35px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
#bmrLabel{
    font-size: 45px;
    font-family: 'Fjalla One', sans-serif;
    /* position: absolute; */
    margin-left: 90px;
    color: blue;
}
footer{
    /*    clear: both;*/
        padding : 5px 0 5px 0;
        background: #009688;
        color: white;
        text-align: center;
        width: 100%
}