*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
a{
   text-decoration: none; 
   color: inherit;
}
li{
   list-style: none;
}
html{
   height: 100%;
}
body{
   width: 100%;
   /* height: 100%; */
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/assign3_background.jpg);
   background-size: cover;
   background-position: cover;
}
.container{
   /* width: 70%; */
   margin: 0 auto;
}
.content{
   min-height: 100%;
}
/* header */
#logo{
   font-family: 'Lobster', cursive;
}
.navbar{
   width: 100%;
   margin: auto;
   padding: 10px 0 10px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #009688;
}
#logo a{
   font-family: 'Lobster', cursive;
   color: white;
   font-size: 200%;
   margin-left: 50px;
   cursor: pointer;
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 10px;
   position: relative;;
}
.navbar ul li a{
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   /* width: 0; */
   background: wheat;
   position: absolute;
   left: 0;
   bottom: -5px;
   transition: 0.5;
}
.navbar ul li:hover::after{
   width: 100%;
}
/* page header */
header {
   color: white;
   font-size: 20px;
   text-align: center;
   padding: 0.5em;
   margin-top: 10px;
   /* margin-bottom: 10px; */
}

/* article */
article {
   position: relative;
   margin-bottom: 30px;
   margin-top: -10px;;
}

article h2 {
   font-size: 1.2em;
   font-weight: bold;
   text-align: left;
   margin: 0 0 10px 51px;
}
article div:hover {
   cursor: default;
}
/* image */
figure {
   position: absolute;
   -webkit-box-shadow: 10px 0px 5px rgb(50, 50, 50),
                      -10px 0px 5px rgb(50, 50, 50);
   -moz-box-shadow:    10px 0px 5px rgb(50, 50, 50),
                      -10px 0px 5px rgb(50, 50, 50);
   box-shadow:         10px 0px 5px rgb(50, 50, 50),
                      -10px 0px 5px rgb(50, 50, 50);
}
#fig2 {
   z-index: 10;
   left: 13%;
   top: 34px;
}

#fig3 {
   z-index: 20;
   left: 50%;
   margin-left: -240px;
   top: 0;
   cursor: pointer;
}

#fig4 {
   z-index: 10;
   right: 13%;
   top: 34px;
}

/* button */
#leftarrow, #rightarrow {
   /* background: #2fe90a; 
   color: white; */
   position: absolute;
   z-index: 30;
   text-align: center;
   height: 135px;
   width: 40px;
   top: 67px;
}
#leftarrow {
   left: 0;
   margin-left: 70px;
   cursor: pointer;
}

#rightarrow {
   right: 0;
   margin-right: 70px;
   cursor: pointer;
}

#leftarrow p, #rightarrow p {
   position: relative;
   top: 50%;
   margin-top: -0.5em;
   color: azure;
   font-size: 50px;
}

/* Favorite team */
#fiveButton{
   display: block;
   width: 100%;
   height: auto;
   position: absolute;
   top: 290px;
   color: antiquewhite;
   font-family: 'Reggae One', cursive;
   text-align: center;
   font-size: 40px;
   margin-bottom: 250px;
}
#favorites{
   margin-top: 10px;
   margin-left: 23%;
   cursor: pointer;
}
div.img{
   margin-bottom: 50px;
}
button{
   width: 80px;
   padding: 10px 0;
   text-align: center;
   margin: 10px 0 20px 0px;
   border-radius: 10px;
   font-weight: bold;
   border: 2px solid black;
   color: red;
   cursor: pointer;
   overflow: hidden;
   font-size: 15px;
   margin-top: 50px;
} 
#fot{
   position: absolute;
   color: antiquewhite;
}
/* footer */
footer{
   position: absolute;
   bottom: 0; 
   padding : 5px 0 5px 0;
   background: #009688;
   color: white;
   text-align: center;
   width: 100%;     
}
